run =  ["gunicorn", "--bind", "0.0.0.0:5000", "main:app"]
entrypoint = "main.py"
modules = ["python-3.11"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-24_05"
packages = ["cargo", "libiconv", "rustc"]

[deployment]
run = ["sh", "-c", "gunicorn --workers 4 --worker-class sync --bind 0.0.0.0:5000 main:app"]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "pip install -r requirements.txt"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 38509
externalPort = 3000

[[ports]]
localPort = 39361
externalPort = 3001

[[ports]]
localPort = 53849
externalPort = 3003

[[ports]]
localPort = 58003
externalPort = 3002

[workflows]
runButton = "SKAILA Fast"

[[workflows.workflow]]
name = "Run SKAILA"
author = 42788612
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 -c \"import socket; s = socket.socket(); s.bind(('', 0)); port = s.getsockname()[1]; s.close(); print(f'Using port {port}')\" && python3 main.py"

[[workflows.workflow]]
name = "SKAILA Production"
author = 42788612
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 main.py"

[[workflows.workflow]]
name = "SKAILA Fast"
author = 42788612
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 main.py"
